<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="PATH" value="${stm32cubeide_make_path}/bin"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_BUILD_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#13;&#10;&lt;resources&gt;&#13;&#10;&lt;item path=&quot;/KSGER_V2&quot; type=&quot;4&quot;/&gt;&#13;&#10;&lt;item path=&quot;/STM32SolderingStation&quot; type=&quot;4&quot;/&gt;&#13;&#10;&lt;/resources&gt;}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${stm32cubeide_make_path}\bin\make.exe"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="incremental,auto,"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-f &quot;${project_loc:STM32SolderingStation}/mcu/generate_sources.makefile&quot; eclipse_home=&quot;${eclipse_home}&quot; board_cfg=&quot;KSGER_V2 STM32F101&quot; all"/>
    <booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc:STM32SolderingStation}"/>
</launchConfiguration>
